<%= form_for(@clothe) do |f| %>
  <% if @clothe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clothe.errors.count, "error") %> prohibited this clothe from being saved:</h2>

      <ul>
      <% @clothe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :create_date %><br />
    <%= f.date_select :create_date %>
  </div>
  <div class="field">
    <%= f.label :stop_date %><br />
    <%= f.date_select :stop_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
