<!DOCTYPE html>
<html>
<head>
  <title>洗一洗</title>
  <!--
  <%= stylesheet_link_tag    "application" %> -->
  <%= stylesheet_link_tag    "styles" ,:media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "script" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.2"></script>
  <style type="text/css">
      #container{height:98%;width:99%;margin:4px 0px 0px 3px;padding:50px 50px 50px 50px;}
  </style>
  <!-- Internet Explorer HTML5 enabling code: -->

  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>

  <style type="text/css">
      .clear {
          zoom: 1;
          display: block;
      }
  </style>


  <![endif]-->
</head>
<body>

<section id="page"> <!-- Defining the #page section with the section tag -->

  <header> <!-- Defining the header section of the page with the appropriate tag -->

    <hgroup>
      <h1>
        WASH
      </h1>
      <h3>and a fancy slogan</h3>
    </hgroup>

    <nav class="clear"> <!-- The nav link semantically marks your main site navigation -->
      <ul>
        <li><a href="#article1">我要洗</a></li>
        <li><a href="#article2">Sweet Tabs</a></li>
        <li><a href="#article3">Navigation Menu</a></li>
      </ul>
    </nav>

  </header>

  <section id="articles"> <!-- A new section with the articles -->

    <!-- Article 1 start -->

    <div class="line"></div>  <!-- Dividing line -->

    <article id="article1"> <!-- The new article tag. The id is supplied so it can be scrolled into view. -->

      <%= yield %>
    </article>

    <!-- Article 1 end -->
    <!-- Article 2 start -->

    <div class="line"></div>

    <article id="article2">
      <h2>
        用户列表
      </h2>

      <div class="line"></div>

      <div class="articleBody clear">
        <figure>
          <a href="#"><img src="/633.jpg" width="620" height="340" /></a>
        </figure>


      </div>

    </article>

    <!-- Article 2 end -->
  </section>
</section>



</body>
</html>




<h2>Listing users</h2>

<table>
  <tr>
    <th>Phone</th>
    <th>Address</th>
    <th>Email</th>
    <th>Name</th>
    <th>Jifen</th>
    <th>City</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
      <tr>
        <td><%= user.phone %></td>
        <td><%= user.address %></td>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.jifen %></td>
        <td><%= user.city %></td>
        <td><%= user.state %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
  <% end %>
</table>

<div class="articleBody clear">
  <figure>
    <div id="container"></div>
    <script>
        var map = new BMap.Map("container");
        var point = new BMap.Point(116.404, 39.915);  // 创建点坐标
        map.centerAndZoom("杭州市",13);
        var local = new BMap.LocalSearch(map, {
            renderOptions:{map: map}
        });
        //local.search("万塘路18号");
    </script>
  </figure>
</div>
<br />
<div class="wall-of-buttons">
  <a  class="large magenta button" href="#">haha</a>
</div>
<%= link_to 'New User', new_user_path %>