<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    "reset" ,:media => "all" %>
  <%= stylesheet_link_tag    "layout" ,:media => "all" %>
  <%= stylesheet_link_tag    "style" ,:media => "all" %>
  <%= javascript_include_tag "jquery-1.4.2" %>
  <%= javascript_include_tag "cufon-replace" %>
  <script src="/assets/Myriad_Pro_600.font.js?body=1" type="text/javascript"></script>
  <!--[if lt IE 9]>
  <script type="text/javascript" src="http://info.template-help.com/files/ie6_warning/ie6_script_other.js"></script>
  <script type="text/javascript" src="/assets/html5.js"></script>
  <![endif]-->
</head>
<body id="page1">
<div class="extra">
  <div class="main">
    <!-- header -->
    <header>
      <div class="wrapper">
        <h1><a href="#" id="logo">Around the World</a></h1>
        <div class="right">
          <div class="wrapper">
            <br/><br/><br/>
            <form action="/users/login" id="login" method="post">
              <table class="padding:200px 5px">
                 <%	 if session[:user] %>
                    用户:<%=session[:user].phone%> 您好。
                    <a href="/logout">退出</a>
                 <%	 else %>
                    <tr>
                      <td>手机号码</td>
                      <td>密码</td>
                    </tr>
                    <tr class="padding:20px 5px">
                      <td> <input type="text" maxlength="15" name="phone"  class="input" onblur="if(this.value=='') this.value='请输入手机号码'" onfocus="if(this.value =='请输入手机号码' ) this.value=''"/></td>
                      <td> <input type="password" name="pwd"  class="input" /></td>
                      <td> <a href="javascript:login.submit();" class="">  登录  </a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                      <td> <input type="checkbox" value="0"/>记录我的登录状态。</td>
                    </tr>
                 <%	 end %>
              </table>
            </form>
          </div>
        </div>
      </div>
      <nav>
        <ul id="menu">
        </ul>
      </nav>
      <article class="col1">
        <%= yield %>
      </article>
    </header>
    <br/>
    <!-- content -->
    <section id="content">
    </section>
    <!-- / content -->
  </div>
  <div class="block"></div>
</div>
<div class="body1">
  <div class="main">
    <!-- footer -->
    <footer>
      <a rel="nofollow" href="http://www.templatemonster.com/" target="_blank">Website template</a> designed by TemplateMonster.com<br>
      <a href="http://www.templates.com/product/3d-models/" target="_blank">3D Models</a> provided by Templates.com
    </footer>
    <!-- / footer -->
  </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>